$primary: #0052d9;
$danger: #d54941;
$warning: #e37318;
$success: #2ba471;
$info: #909399;

$layout-header-height: 80px;
$layout-header-aside: 200px;
$base-panel-header-height: 48px;
$base-panel-footer-height: 64px;
